<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>xem blog</button>
            <ul>
                <li class="blog-li">{{courses.lever}}</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <h2>{{courses.name}}</h2>
            <img src="{{courses.img}}" class="card-img-top" alt="{{this.name}}">
            <p>{{courses.description}}</p>
        </div>
    </div>
</div>