<div class="mt-4">
    <div class="div">
        <h1>Cac blog</h1>
        {{#if deleteCount}}
        <a href="/me/trash/courses">Thung rac ({{deleteCount}})</a>
        {{/if}}
        <div class="mt-4 d-flex align-items-center">
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Chon tat ca</label>
            </div>
            <select class="form-control form-control-   " id="exampleFormControlSelect1">
                <option>chon hanh dong</option>
                <option value="delete">xoa</option>
            </select>
            <button type="button" class="btn btn-primary disabled">thuc hien</button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">
                    ID
                    {{{sortable '_id' _sort}}}
                </th>
                <th scope="col">
                    Ten blog
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">
                    Trinh do
                    {{{sortable 'lever' _sort}}}
                </th>
                <th scope="col">
                    Thoi gian tao
                    {{{sortable 'createdAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.lever}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn btn-link">Sua</a>
                    <a href="" class="btn btn btn-link" data-bs-toggle="modal" data-bs-whatever="{{this._id}}"
                        data-bs-target="#delete-course">Xoa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Ban chua co blog
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!-- Confirm blog --}}
<div class="modal" id="delete-course" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ban co muon xoa blog khong
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huy</button>
                <button id="btn-delete" type="button" class="btn btn-danger">Xoa blog</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="delete-form"></form>

<script>
    var idblog;
    var deleteForm = document.forms['delete-form'];
    var btnDelet = document.getElementById('btn-delete');
    var exampleModal = document.getElementById('delete-course');

    exampleModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        idblog = button.getAttribute('data-bs-whatever');
    });

    btnDelet.onclick = function () {
        deleteForm.action = '/courses/' + idblog + '?_method=DELETE';
        deleteForm.submit();
    }
</script>